.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px
}

.card {
  display: flex; /* or inline-flex */
  flex-direction: column;
  border: 1px solid lightgray;
  width: 180px;
}

.card-item {
  flex-basis: auto; /* default auto */
  flex: none;
  width: 180px;
  height: 150px;
  margin-bottom: 50px;
}

.card-body {
  padding: 0px;
}

p {
  margin-top: 0px;
}

.img-card {
  width: 160px;
  height: 150px;
}

.title {
  font-size: 20px;
  margin-bottom: 20px
}
